
.button-action
  border-radius 20px
  padding-top 10px
  padding-bottom 10px
  padding-right 20px
  padding-left 20px
  border 0
  min-width 200px
  margin-top 20px
  .fa
    margin-top 3px

.button-blue
  background-color $c-btn-blue
  color $c-white

.button-fb
  background-color $c-btn-fb-blue
  color $c-white

.button-grey
  background-color $c-btn-grey
  color #928C8C

.button-green
  background-color #00C570
  color $c-white

.share-button
  border-radius 50%
  width 50px
  height 50px
  padding-top 10px
  cursor pointer
  display inline-block
  margin-left 5px
  margin-right 5px
  color $c-white
.share-button-twitter
  background-color #00aced
.share-button-whatsapp
  background-color #43d854
.share-button-linkedin
  background-color #007bb6
.share-button-facebook
  background-color $c-btn-fb-blue
.share-button-comment
  background-color #B1B12B
