.page-login-options
  .divider
    text-transform capitalize

.page-landing
  label
    font-size 2.5em
    font-weight normal
    margin-bottom 15px
  input
    font-size 2em
    line-height 30px
    height 40px
